extends layout

block content
    .row
        .col-xs-12
            table.table.table-bordered
                tbody
                    tr
                        td Debug Info
                        td=debug
                    tr
                        td Balance
                        td=balance
                    tr
                        td Blocks count
                        td=blockCount
                    tr
                        td Blocks count from explorer
                        td=actualBlocksCount


